{% extends 'cms_base.html' %}

{% block head %}
    <script src="{{ static("js/cms_editcmsuser.js") }}"></script>
{% endblock %}

{% block title %}
    修改CMS用户
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <form action="" method="post" class="form-min">
        <div class="form-group">
            <label>登录名：</label>
            <input type="text" class="form-control" name="username" value="{{ user.login_name }}" readonly>
        </div>
        <div class="form-group">
            <label>用户名：</label>
            <input type="text" class="form-control" name="email" value="{{ user.name }}" readonly>
        </div>
        <div class="form-group">
            <label>权限: </label>
            <select name="permission" id="permission">
        <option value="1">管理员</option>
        <option value="2">操作员</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" id="submit" data-user-id="{{ user.id }}">立即修改</button>
        </div>
    </form>
{% endblock %}